@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);

@font-face
{
  font-family: Impossible;
  src: url(fonts/IMPOS2.ttf);
}

@font-face
{
  font-family: Impossible2;
  src: url(fonts/IMPOS3.ttf);
}

h1{
  color: #09c12b;
  font-size: 3em;
  font-family: Impossible, sans-serif;
  margin: 0 auto;
}

h3 {
  text-align: center;
}
.item, h4, p, li  {
  font-family: 'Lekton', sans-serif;
  color: #09c12b;
  font-weight: normal;
}
.item {
  padding:.4em 1.5em; 
  /*background-color: rgba(22, 48, 23, 0.2);*/
  margin: 2px 0px;
  list-style-type: lower-greek; 
}
.white {
  color: #fff;
}

.green {
  color: #09c12b;
}

 li {
border-bottom: 1px dotted grey;
}

i {
/*  vertical-align: middle;*/


}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center {
  text-align: center;
  vertical-align: center;
}

.container {
  margin-top:0px;
  position: absolute;
}
@media only screen and (min-width: 768px) 
  {
    .container {
    margin-top:50px ;
    position: relative;
    }

  }

body {
/*  background-image: url(images/MI-Back.jpg);
*/  background-color: #eee;
    background-image: url(images/world.gif);
    background-size: auto 900px ;
    /*sizing background to be full screen and not repeat */
  }

.box {
  background: rgba(0, 0, 0, 0.8);
  padding: 2%;
  border-radius: 10px;
  border-width: 2px;
  border-color: #26d632;
}


button {
  background-color:rgba(10, 10, 255, .1);
  color: #FFF;
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.3em;
  border-radius: 0px;
  font-family: 'Lekton', sans-serif;
  margin-bottom: 10px;
  padding: .5em 1.5em;
}

#minutes{
  width:50%;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.checked{
  text-decoration: line-through;
  color: #999;
}
.countdown{
  font-size: 30px;
  text-align: center;
  font-family: Impossible, sans-serif;
  color: red;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.disclaim {
  color: #cecece;
  font-size: .8em;
  padding: 2em;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
}

.fail{
  background-image:url(images/FireBIG.jpg);
}

#due-time{
  max-width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
input[type="text"] {
  font-family: 'Lekton', sans-serif;
  background-color: rgba(9, 165, 38, 0.5)
}

 input[type="text"]:focus {    
  background-color: rgba(9, 165, 38, 0.55);
}

#task {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 6px;
  padding: .4em;
  
}
.nav {
  padding-left: 1.5em;
  padding-top: .3em;
}

.login.small-4#top-login{
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .login.small-4#top-login{
    display: inline !important;
  }
}