/*FONTS*/

@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);

@font-face
{
	font-family: Impossible;
	src: url(fonts/IMPOS2.ttf);
}

@font-face
{
	font-family: Impossible2;
	src: url(fonts/IMPOS3.ttf);
}

html{
	background-color: grey;

	transition: background-image 2s linear;
	-webkit-transition: background-image 2s linear; /* Safari, Chrome*/
}
.fail{
	background-image:url(images/FireBIG.jpg);
}

body{
	width: 90%;
	height: 90%;
	margin: 20px auto;
	padding: 12px;
	border-radius: 10px;
	max-width: 750px;
	background: rgba(48, 56, 48, 0.7);
}
h1{
	color: red;
	font-size: 55px;
	font-family: Impossible, sans-serif;
	margin: 0 auto;
}

.item, h2, p {
	font-family: 'Lekton', sans-serif;
	color: #FFF;
}

p {
	font-size: .9em;
}

.disclaim {
	color: #cecece;
	font-size: .8em;
	padding: 2em;
	margin-bottom: 0;
	font-style: italic;
}
h2 {
	font-weight: 200;
	font-size: 100%;
	text-align: center;
}

form, .main{
	background: rgba(0, 0, 0, 0.79);
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.main {
	display: block;
	white-space: nowrap;
}

button {
	width: 100%;
	height: 80%;
	border-radius: 10px;
	font-size: 100%;
}

#due-time{
	max-width: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.item {
	float: left;
	clear: left;
	color: red;
	font-size: 30px;
	cursor: pointer;
}
#todo-list {

	display: block;
	margin: 0 auto;
}

#task {
	width: 75%;
	display: block;
	margin: 0 auto;
	font-size: 30px;
	padding: 5px;
	border-radius: 4px;
	font-family: Impossible2, sans-serif;
}
#hours{
	width: 50%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	padding: 5px;
	border-radius: 4px;
	font-family: Impossible2, sans-serif;
	margin-bottom: 10px;
	text-align: center;
}
#start{
	width: 50%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	font-size: 30px;
	padding: 5px;
	border-radius: 4px;
	font-family: Impossible2, sans-serif;
	margin-bottom: 10px;
}
.checked{
	text-decoration: line-through;
	color: #999;
}
.countdown{
	font-size: 30px;
	text-align: center;
	font-family: Impossible, sans-serif;
	color: red;
	width: 80%;
	display: block;
	margin: 0 auto;
}
li {
	list-style-type: square;
	color: #2e3;
}
