<!DOCTYPE html>
<html>
<head>
  <title>Mission Impossible</title>
  <link rel="stylesheet" type="text/css" href="style.css">

  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
</head>
  <body>
        <!-- Template -->
      <div id="templates">
        <script class="list" type="text/template">
          <div class="list-item">
            <%%=name%>
            <%% if (complete === false) { %>
              Incomplete
            <%% } else { %>
              <b>Complete!</b>
            <%% } %>
          </div>
        </script>
      </div>

    <form>
      <input type='text' name='task' placeholder='Enter your task here.'>
    </form>
    <div class='main'>
      <div id="todo-list"></div>
    </div>
    <form>
      <button type='button'>Submit</button>
    </form>

      <!-- 3rd-party scripts -->
    <script src="vendor/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="vendor/underscore.js" type="text/javascript"></script>
    <script src="vendor/backbone.js" type="text/javascript"></script>

    <script type="text/javascript" src="application.js"></script>
  </body>
</html>