<!DOCTYPE html>
<html>
<head>
  <title>Mission Impossible</title>
  <link rel="stylesheet" type="text/css" href="style.css">

  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
</head>
  <body>
    <h1>MISSION:IMPOSSIBLE</h1>


    <form>
      <div id="countdown"></div>
      <input type='text' name='task' id='task' placeholder='Enter your task here.'>
    </form>
    <div class='main'>
      <div id="todo-list" class="todo-list"></div>
    </div>
    
    <form id="time-input">
      <input type="text" name="hours" id="hours" placeholder="Number of hours">
      <button type='button' id="start">Accept Mission</button>
    </form>

      <!-- 3rd-party scripts -->
    <script src="vendor/jquery-1.10.2.js" type="text/javascript"></script>

    <script type="text/javascript" src="application.js"></script>
  </body>
</html>