<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <form>
      <input type='text' name='task' placeholder='Enter your task here.'>
    </form>
    <div>
    </div>
    <form>
      <button type='button'>Submit</button>
    </form>
  </body>
</html>