html{
	width: 100%;
	height: 100%;
	background-color: #F0FF08;
}

body{
	width: 80%;
	min-width: 640px;
	height: 90%;
	background-color: blue;
	margin: 5% auto;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
}



form{
	display: inline-block;
	text-align: center;
	width: 90%;
	height: 10%;
	margin: 5%;
	background-color: red;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
}

div{
	height:400px;
	width: 90%;
	margin: 0 5%;
	background-color: red;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
}

input{
	width: 90%;
	height: 30px;
	background-color: green;
	margin: 20px 0;
	border-radius: 5px;
	font-size: 16px;
}

/*select{
	width: 100px;
	height: 30px;
	margin: auto;
	background-color: green;
}*/